* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary:  #21dada;
  --container: 1200px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.btn {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #222;
  border-radius: 3px;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.btn:hover {
  opacity: 0.8;
}
